.content {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.logo {
    width: 200px;
    height: 200px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.buttons button {
    background-color: rgba(250, 47, 47, 0.86);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin-left: 20px;
}

.buttons button:hover {
    background-color: #ff4d4d;
}

.buttons a {
    color: white;
    text-decoration: none;
}
